<%- include("partials/head") %> 
<body>
    <%- include("partials/header") %> 
    <div style="margin: 10px; display: flex; flex-direction: column;">
       <form action="/movies/create" method="POST">
        <div>
            <label for="">Titulo de la pelicula</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating">
        </div>
        <div>
            <label for="">Awards</label>
            <input type="number" name="awards">
        </div>
        <div>
            <label for="">Duracion en min</label>
            <input type="number" name="length">
        </div>
        <div>
            <label for="">Fecha de estreno</label>
            <input type="date" name="release_date">
        </div>
        <button type="submit">Crear</button>
        <button type="reset">Cancelar</button>
       </form>
    </div>
</body>
</html>