<header>
    <nav>
        <div>
            <div><a href="/">Home</a></div>
            <div><a href="/movies">Movies</a></div>
            <div><a href="/movies/create">Crear pelicula</a></div>
        </div>
    </nav>
</header>